




/*  Google Fonts */
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway-normal{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(214, 221, 237, 0.5);
}

/* Shared style */
.btn-primary {
  font-size: 16px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  color: #fff;
  background-color: #4E47FF;
  border: 2px solid #4E47FF;
  border-radius: 10px;
  padding: 12px 36px;
  transition: all 0.4s ease-in-out;
}

.btn-primary:hover {
  color: #4E47FF;
  /* background-color: #fff; */
  background-color: transparent;
  transition: all 0.4s ease-in-out;
}

/* navbar style */

nav {
  max-width: 1140px;
  margin: 0 auto;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

nav h1 {
  font-size: 40px;
  color: #252432;
}

nav h1 span {
  color: #4E47FF;
}

/* Header & Banner section style */

header {
  background-image: url("../Assets/Hero-bg.png");
  background-position: center;
  background-size: contain;
  height: 100vh;
}

.banner {
  text-align: center;
  max-width: 900px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner h1 {
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 37px;
  color: #252432;
}

/* Action section style */

.action {
  max-width: 1140px;
  margin: 120px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-left {
  width: 517px;
}

.action-title {
  font-size: 42px;
  font-weight: 700;
  color: #252432;
}

.action-subtitle {
  font-size: 24px;
  padding: 25px 0;
  color:rgba(37, 36, 50, 0.50);
}

.action-right-img {
  height: 330px;
  width: 405px;
  border-radius: 48px;
}

/* Productive users section style */

.users {
  max-width: 1140px;
  background-color: rgba(78, 71, 255, 0.1);
  border-radius: 24px;
  margin: 120px auto;
  padding: 50px 80px;
  text-align: center;
}

.users-title {
  font-size: 38px;
  font-weight: 700;
  color: #252432;
  margin-bottom: 40px;
}

.users-data {
  display: flex;
  justify-content: space-around;
}

.user h1 {
  font-size: 80px;
  font-weight: 700;
  color: #4E47FF;
  font-family: "Inter", sans-serif;
}

.user p {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Inter", sans-serif;
}

/*  Feedback section style */

.feedback {
  max-width: 1140px;
  margin: 0 auto;
  padding-bottom: 100px;
}

.feedback-title {
  font-size: 42px;
  font-weight: 700;
  text-align: center;
  color: #252432;
  padding: 50px 0;
}

.reviewer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.reviewer-content {
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
}

.reviewer-title {
  margin-bottom: 15px;
  margin-top: 24px;
  color: #252432;
}

.reviewer-name h4, p {
  color:rgba(37, 36, 50, 0.60);
}

.reviewer-details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-top: 24px;
}

.reviewer-details img {
  border-radius: 50%;
}

.reviewer-name {
  color: #252432;
}


/*  Contact section style */

.contact {
  max-width: 1140px;
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 115px;
}

.contact-title {
  font-size: 90px;
  font-weight: 700;
  color: #252432;
}

.contact-form {
  width: 50%;
}

.contact-form label {
  font-size: 18px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  color: #252432;
  display: block;
  margin-bottom: 10px;
}

.custom-input {
  height: 70px;
  width: 100%;
  border-radius: 10px;
  display: block;
  background-color: #fff;
  border: 2px solid rgba(214, 221, 237, 1);
  padding: 20px 32px;
  margin-bottom: 20px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Inter", sans-serif;
  outline: none;
  transition: border-color 0.4s ease;
}

textarea {
  height: 135px;
}

input[type="submit"] {
  width: 100%;
  height: 60px;
}

.custom-input:hover, .custom-input:focus {
  border-bottom: 3px solid#4E47FF; 
}

/* Footer section style */

footer {
  text-align: center;
  background-color: #fff;
}

.footer-section {
  padding: 110px 0;
  width: 530px;
  margin: 0 auto;
}

.footer-section h1 {
  font-size: 100px;
  font-weight: 900;
  color: #252432;
}

.footer-section h1 span {
  color: #4E47FF; 
}

.footer-section p {
  margin: 25px auto;
  color: rgba(0, 0, 0, 0.5);
}

.footer-section ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.footer-section ul li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}











